<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Java Quiz</title>
    <style>
        a {border-right:3px solid black;}
    </style>
</head>
<body>
<h1>JavaQuiz</h1>
<h3 th:if="${session.logged_in!=null}">Witaj <span  th:text="${session.login}"></span></h3>
<a href="/"> Strona główna </a>
<span th:if="${session.logged_in==null}">
<a href="/rejestracja"> Rejestracja </a>
<a href="/logowanie"> Logowanie </a>
</span>
<span th:if="${session.czy_admin!=null}">
    <a href="/lista"> Lista pytań </a>
    <a href="/dodaj"> Dodaj pytanie </a>
</span>
<span th:if="${session.logged_in!=null}">
    <a href="/test"> Test </a>
    <a href="/wyniki"> Wyniki </a>
    <a href="/wyloguj"> Wyloguj </a>
</span>


</body>
</html>
