<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Java Quiz</title>
</head>
<body>
<h1>JavaQuiz</h1>
<h2 th:if="${session}!=null)">Witaj <span  th:text="${session.login}"></span></h2>
<a href="/">Strona główna</a>
<span th:if="${session.logged_in==null}">
<a href="/rejestracja">Rejestracja</a>
<a href="/logowanie">Logowanie</a>
</span>
<span th:if="${session.czy_admin!=null}">
    <a href="/lista">Lista pytań</a>
    <a href="/dodaj">Dodaj pytanie</a>
</span>
<span th:if="${session.logged_in!=null}">
    <a href="/test">Test</a>
    <a href="/wyloguj">Wyloguj</a>
</span>


</body>
</html>
