<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Java Quiz</title>
  <style>
    td {border:1px solid black;}
    table {border-collapse: collapse;}
    a {border-right:3px solid black;}
  </style>
</head>
<body>
<h1>Wyniki</h1>
<a href="/">Strona główna</a>
<span th:if="${session.logged_in==null}">
<a href="/rejestracja">Rejestracja</a>
<a href="/logowanie">Logowanie</a>
</span>
<span th:if="${session.czy_admin!=null}">
    <a href="/lista">Lista pytań</a>
    <a href="/dodaj">Dodaj pytanie</a>
</span>
<span th:if="${session.logged_in!=null}">
    <a href="/test">Test</a>
    <a href="/wyniki">Wyniki</a>
    <a href="/wyloguj">Wyloguj</a>
</span>
<br/><br/>
<table>
  <tr><td>Numer indeksu</td><td>Wynik</td><td>Data</td></tr>
  <tr th:each="wynik: ${wyniki}">

    <td><span th:text="${wynik.indeks}"></span></td>
    <td><span th:text="${wynik.punkty}"></span>/<span th:text="${wynik.max}"></span></td>
    <td><span th:text="${wynik.data}"></span> <span th:text="${wynik.czas}"></span></td>
  </tr>
</table>

</body>
</html>
